
  h1{
     font-family:   fantasy, sans-serif;
     font-size: 3em;
     border-bottom: 2px solid blue;
     width: 600px;
     text-align: center;
     box-shadow: 4px 4px 5px blue;
    -moz-box-shadow: 4px 4px 5px blue;
    -ms-box-shadow: 4px 4px 5px blue;
    -webkit-box-shadow: 4px 4px 5px blue;
     -o-box-shadow: 4px 4px 5px blue;
     margin-top: 10px;
  }

.container{
         display: flex;
         flex-wrap:      wrap;
         justify-content:   center;
}
img:hover {
          transform: scale(1.1);
}
img{
          width: 300px;
          height: 250px;
          margin: 8px;
          transition: all .5s;
}
